<p id="notice"><%= notice %></p>

<h1>Listing Citations</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citations.each do |citation| %>
      <tr>
        <td><%= citation.quote %></td>
        <td><%= citation.author %></td>
        <td><%= link_to 'Show', citation %></td>
        <td><%= link_to 'Edit', edit_citation_path(citation) %></td>
        <td><%= link_to 'Destroy', citation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citation', new_citation_path %>
