<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @citation.quote %>
</p>

<p>
  <strong>Author:</strong>
  <%= @citation.author %>
</p>

<%= link_to 'Edit', edit_citation_path(@citation) %> |
<%= link_to 'Back', citations_path %>
