<%= form_for(@activite) do |f| %>
  <% if @activite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activite.errors.count, "error") %> prohibited this activite from being saved:</h2>

      <ul>
      <% @activite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :schedule_at %><br>
    <%= f.datetime_select :schedule_at %>
  </div>
  <div class="field">
    <%= f.label :level_id %><br>
    <%= f.number_field :level_id %>
  </div>
  <div class="field">
    <%= f.label :categorie_id %><br>
    <%= f.number_field :categorie_id %>
  </div>
  <div class="field">
    <%= f.label :archetype_id %><br>
    <%= f.number_field :archetype_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :citation_id %><br>
    <%= f.number_field :citation_id %>
  </div>
  <div class="field">
    <%= f.label :enonce %><br>
    <%= f.text_area :enonce %>
  </div>
  <div class="field">
    <%= f.label :doc1_id %><br>
    <%= f.number_field :doc1_id %>
  </div>
  <div class="field">
    <%= f.label :doc2_id %><br>
    <%= f.number_field :doc2_id %>
  </div>
  <div class="field">
    <%= f.label :docProf_id %><br>
    <%= f.number_field :docProf_id %>
  </div>
  <div class="field">
    <%= f.label :docEval_id %><br>
    <%= f.number_field :docEval_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
