<p id="notice"><%= notice %></p>

<h1>Listing Activites</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th>Level</th>
      <th>Categorie</th>
      <th>Archetype</th>

      
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activites.each do |activite| %>
      <tr>
        <td><%= activite.title %></td>

        <td><%= activite.level_id %></td>
        <td><%= activite.categorie_id %></td>
        <td><%= activite.archetype_id %></td>

        
        
        
        <td><%= link_to 'Voir', activite %></td>
        <td><%= link_to 'Editer', rails_admin.edit_path(model_name: 'activite', id: activite.id) %></td>
        <td><%= link_to 'Supprimer', activite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle activité', rails_admin.new_path(model_name: 'activite') %> |
