<p id="notice"><%= notice %></p>
<table class="cartouche">
  <tr>
    <th>Séquence   </th>
    <th>Activité   </th>
    <th>Date prévue</th>
    <th>Niveau     </th>
    <th>Catégorie  </th>
    <th>Type       </th>
    <th>Lien       </th>
  </tr>
  
  <tr>
    <td>1</td>
    <td><%= @activite.id %></td>
    <td><%= @activite.schedule_at %></td>
    <td><%= @activite.level_id %></td>
    <td><%= @activite.categorie_id %></td>
    <td><%= @activite.archetype_id %></td>
    <td><%= @activite.url %></td>
  </tr>
  
  <tr>
    <td colspan="7" class="quote">
     <h1><q><%= @activite.citation.quote %></q></h1>
     <h2><%= @activite.citation.author %></h2>
    </td>
  </tr>
  
  <tr>
    <td colspan="7">
    <h1><%= @activite.title %></h1>
    </td>
  </tr>
  
</table>


<p>
  <strong>Enoncé : </strong><br>
  <p class="enoncé"><%= @activite.enonce %></p>
</p>
<center>
<%= image_tag @activite.image1.thumb('400x200#').url if @activite.image1_stored? %>
<%= image_tag @activite.image2.thumb('400x200#').url if @activite.image1_stored? %>
<%= image_tag @activite.image3.thumb('400x200#').url if @activite.image1_stored? %>
</center>
<p>
  <strong>Docprof:</strong>
  <%= @activite.doc_prof_id %>
</p>

<p>
  <strong>Doceval:</strong>
  <%= @activite.doc_eval_id %>
</p>

<%= link_to 'Editer cette activité', rails_admin.edit_path(model_name: 'activite', id: @activite.id) %> |
<%= link_to 'Liste des activités', activites_path %>
